{% assign total_columns = 3 %}
{% assign total_monitors = monitors.size %}
{% assign gap_size = "small" %}

{% if total_monitors > 27 %}
  {% assign total_monitors = 27 %}
{% endif %}

{% if total_monitors <= 14 %}
  {% assign total_columns = 2 %}
  {% assign gap_size = 'large' %}
{% endif %}

{% if total_monitors <= 6 %}
  {% assign total_columns = 2 %}
  {% assign gap_size = 'xlarge' %}
{% endif %}

<div class="layout layout--row layout--top">
  <!-- Monitors Grid -->
  <div class="grid grid--cols-{{ total_columns }} gap--{{ gap_size }}">
    {%- for monitor in monitors limit: total_monitors -%}
      <div class="item">
        <div class="meta {% if monitor.status == "DOWN" %}bg--black{% endif %} w--7 px--1">
          {% render "status_icon" with monitor as monitor %}
        </div>
        <div class="content">
          <div class="flex flex--row flex--between gap">
            <div class="grow">
              <div class="label label--medium clamp--1">{{ monitor.friendlyName | default: monitor.friendly_name }}</div>
              <div class="description clamp--1">{{ monitor.url | remove_first: 'https://' }}</div>
            </div>
           </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke image-stroke--small" src="https://avatars.githubusercontent.com/u/4648252?s=200&v=4" width="28" height="28" />
  <span class="title">{{ up_monitors }} up, {{ down_monitors }} down, {{ paused_monitors }} paused</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name | default: 'My Sites' }}</span>
</div>
