<div class="layout layout--row layout--top">
  <!-- Monitors Grid -->
  <div class="grid grid--cols-3 gap--medium">
    {%- for monitor in monitors limit: 18 -%}
      <div class="item">
        <div class="meta {% if monitor.status == "DOWN" %}bg--black{% endif %} w--7 px--1">
          {% render "status_icon" with monitor as monitor %}
        </div>
        <div class="content">
          <div class="flex flex--row flex--between gap">
            <div class="grow">
              <div class="py--1">
                <div class="label label--medium clamp--1">{{ monitor.friendlyName | default: monitor.friendly_name }}</div>
                {% if monitors.size <= 12 %}
                <div class="label label--small clamp--1">{{ monitor.url | remove_first: 'https://' }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% if monitors.size <= 15 %}
<div class="title_bar">
  <img class="image image-stroke image-stroke--small" src="https://avatars.githubusercontent.com/u/4648252?s=200&v=4" width="28" height="28" />
  <span class="title">{{ up_monitors }} up, {{ down_monitors }} down, {{ paused_monitors }} paused</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name | default: 'My Sites' }}</span>
</div>
{% endif %}
